<div class="container">
        <div class="top">
            <div class="quantity-question">
                <p>1 of 10</p>
            </div>
            <div class="img">
                <div class="logo">
                    <img src="https://i.imgur.com/lSUEdnV.png">
                </div>
                <div class="quiz">
                    <p>Quiz</p>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="background">
                <img src="https://i.imgur.com/DmVkmUE.jpg">
            </div>
            <div class="content">
                <div class="img-Correct">
                    <img src="https://cdn-icons-png.flaticon.com/512/5610/5610944.png">
                </div>
                <div class="correct">
                    <p>Correct</p>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="user-name">
                <p>Duy</p>
            </div>
            <div class="score">
                100000000000000000000
            </div>
        </div>
</div>