<div id="navBar">
    <div class="navBar-left">
        <div>Qz</div>
    </div>
    <div class="navBar-right">
        <button class="btn" id="theme">
            <img src="../../assets/palette.png">
            <p>Themes</p>
        </button>
        <div id="line"></div>


        <button class="btn" id="exit">Exit
        </button>
        <button class="btn" id="save">Save
        </button>
    </div>
</div>



<!-- <div id="searchBar">
            <form action="javascript:" class="search-bar">
                <input type="search" name="search" pattern=".*\S.*" required>
                <button class="search-btn" type="submit">
                    <span>Search</span>
                </button>
            </form>
        </div> -->
<div class="grid-container">
    <div id="sideBar">
        <div class="question-box">
            <div class="smaller-question-box">
                1 Quiz
                <div class="inside">
                    question
                    <div class="add">
                        add
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div>idk</div>
        <!-- <div class="center">
            <div class="background">
                <img src="https://i.imgur.com/DmVkmUE.jpg">
            </div>
        </div> -->
    </div>
    
    <div class="footer">
        footer
    </div>
</div>