// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

a {
    text-decoration: none;
}

ul {
    list-style: none;

}

body {
    margin: 0px;
    padding: 0px;

}

//blog
.blog:hover {
    color: #f33c3c;

}

.blog-container {
    display: flex;
    margin-left: 5%;    
    // justify-content: center;
    // align-items: ce35er;
    // margin: 20px 0p35
    flex-wrap: wrap;
}

.blog-box {
    
    min-width: 27vh;
    min-height: 40vh;
    max-width: 27vh;
    max-height: 40vh;
    // height: 200%;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 3%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.blog-img {
    width: 100%;
    height: 50%;

    // height: 100%;
}


.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

.blog-text {
    // padding: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;



}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
    margin-top: 5px;
}

.blog-text .blog-title {
    font-size: 1rem;
    font-weight: 500;
    color: #1368CE;
    margin-left: 5%;

}

.blog-box:hover {

    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}
.blog-text q{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;   
    text-overflow: ellipsis;
    margin: 5px 0px;
    margin-left: 5%;
    margin-top: 10%;
  }
span {
    color: #b4b1b5;
    font-size: 0.7rem;
    margin-left: 5%;
    margin-right: 5%;
}

.spann {
    display: flex;
    justify-content: space-between;
}

.pay{
    width: 30%;
    height: 8%;
    margin-left: 65%;
    margin-top: 3%;
    color: #ececec;
    background-color: rgb(72, 72, 207);
   
}
button{
    border-radius: 15px;
}
.pay:hover{
    background-color: white;
    color:  rgb(72, 72, 207);;
}


// $t: 2.5s;
// $e1: cubic-bezier(0.8, 0.00, 0.1, 1);
// $e2: cubic-bezier(0.600, 0.040, 0.980, 0.335);
// $er: linear;

// $color: hsl(15,75%,40%);
// $font: 'Abril Fatface', sans-serif;

// $slides: 1;
// $images: url(/src/app/pages/marketplace/marketplace.component.html  );

// html, body{
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }

// .untitled{  
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   @keyframes rotateHue {
//     0%{ filter: hue-rotate(0deg); }
//     20%{ filter: hue-rotate(0deg); }
//     25%{ filter: hue-rotate(90deg); }
//     45%{ filter: hue-rotate(90deg); }
//     50%{ filter: hue-rotate(180deg); }
//     70%{ filter: hue-rotate(180deg); }
//     75%{ filter: hue-rotate(270deg); }
//     95%{ filter: hue-rotate(270deg); }
//     100%{ filter: hue-rotate(360deg); }
//   }
//   animation: rotateHue infinite $t*$slides*2 linear;
//   animation-delay: $t/4;
  
//   &__shutters{
//     position: absolute;
//     height: 150vmax;
//     width: 150vmax;
//     left: calc(50% - 75vmax);
//     top: calc(50% - 75vmax);
//     pointer-events: none;
//     z-index: 2;
//     @keyframes rotateFrame{
//       0%{ transform: rotate(0deg);}
//       100%{ transform: rotate(180deg);}
//     }
//     animation: rotateFrame $t*4 $er infinite;

//     &:before, &:after{
//       content: '';
//       position: absolute;
//       height: 100%;
//       width: 100%;
//       left: 50%;
//       transform: translate3d(-50%, 0, 0);
//       background-color: $color;
//       pointer-events: auto;
//     }
//     &:before{
//       bottom: 50%;
//       @keyframes openTop{
//         0%{ transform: translate3d(-50%, 0, 0); animation-timing-function: $e1; }
//         40%{ transform: translate3d(-50%, -65vmax, 0); animation-timing-functon: $e2; }
//         70%{ transform: translate3d(-50%, -65vmax, 0); animation-timing-functon: $e2; }
//         100%{ transform: translate3d(-50%, 0, 0); animation-timing-function: $e2; }
//       }
//       animation: openTop $t*2 infinite;
//     }
//     &:after{
//       top: 50%;
//       @keyframes openBottom{
//         0%{ transform: translate3d(-50%, 0, 0); animation-timing-function: $e1; }
//         40%{ transform: translate3d(-50%, 65vmax, 0); animation-timing-functon: $e2; }
//         70%{ transform: translate3d(-50%, 65vmax, 0); animation-timing-functon: $e2; }
//         100%{ transform: translate3d(-50%, 0, 0); animation-timing-function: $e2; }
//       }
//       animation: openBottom $t*2 infinite;
//     }
//   }
  
//   &__slides{
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     background-color: $color;
//   }
//   &__slide{
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     opacity: 0;
//     @keyframes showHideSlide{
//       0%{
//         opacity: 1; 
//         pointer-events: auto;
//         z-index: 1;
//       }
//       #{100% / $slides}{
//         opacity: 0;
//         pointer-events: none;
//         z-index: -1;
//       }
//       100%{
//         opacity: 0;
//         pointer-events: none;
//         z-index: -1;
//       }
//     }
//     animation: showHideSlide infinite $t*$slides*2 steps(1);
//     @for $i from 1 through $slides{
//       &:nth-child(#{$i}){ 
//         animation-delay: $t * ($i - 1) * 2;
//         .untitled__slideBg{
//           background-image: nth($images, $i);
//         }
//       } 
//     }
//   }
//   &__slideBg{
//     position: relative;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0;
//     background-size: cover;
//     background-position: center;
//     background-color: $color;
//     background-blend-mode: hard-light;
//     opacity: 1;
//     z-index: -1;
//     @keyframes bgInOut{
//       0%{ transform: rotate(-45deg) scale(1.1); animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);}
//       33%{ transform: rotate(0deg);}
//       50%{ transform: rotate(0deg); }
//       66%{ transform: rotate(0deg); animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220); }
//       100%{ transform: rotate(45deg) scale(0.9);}
//     }
//     animation: bgInOut $t*4 -$t*2 infinite; 
//   }
//   &__slideContent{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate3d(-50%,-50%,0);
//     color: white;
//     font-family: $font;
//     line-height: 0.8;
//     letter-spacing: -0.025em;
//     z-index: 2;
//     opacity: 1;
//     text-shadow: 0 0 0.5em rgba($color,0.25);
//     mix-blend-mode: lighten;
//     span{
//       display: block;
//       font-size: 15vmin;
//     }
//   }
// }
// .button{
//   font-family:'Roboto Mono', sans-serif;
//   text-decoration: none;
//   font-weight: 800;
//   text-transform: uppercase;
//   font-size: 2vmin;
//   display: inline-block;
//   position: relative;
//   border: 3px solid white;
//   box-shadow: -0.5vmin 0.5vmin 0 rgba(white, 0.5);
//   background: transparent;
//   margin-top: 5vmin;
//   mix-blend-mode: lighten;
//   color: white;
//   padding: 2vmin 2vmin 1.8vmin 2vmin;
//   letter-spacing: 0.1em;
//   text-shadow: none;
//   line-height: 1;
//   transform: translate3d(0.5vmin, -0.5vmin, 0);
//   transition: all 100ms linear;
//   &:hover{ 
//     transform: translate3d(1vmin, -1vmin, 0);
//     box-shadow: -1vmin 1vmin 0 rgba(white, 0.5);
//     background: white;
//     color: black;
//   }
//   &:active{ 
//     transform: translate3d(0px, 0px, 0);
//     box-shadow: -0px 0px 0 rgba(white, 0.5);
//   }
// }