<div class="container">
    <div class="content">
        <div class="background">
            <img src="https://i.imgur.com/DmVkmUE.jpg">
        </div>
        <div class="scoreboard">
            <div class="header">
                 <p>Scoreboard</p>
            </div>
            <div class="rank">
                <div class="member">
                    <div class="user-name">
                        <p>Duy</p>
                    </div>
                    <div class="score">
                        <p>100</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

