<div class="ren-act">Rencent Activity</div>
<div class="ren-act-1">
  <button id="down">
    <img src="https://cdn-icons-png.flaticon.com/512/32/32195.png" alt=""> Math
  </button>
</div>

<div class="math">
  <div *ngFor="let item of taskquizMath" >
    <app-taskquiz [taskquiz]="item"></app-taskquiz>
  </div>
</div>


<div class="ren-act-2">
  <button id="down">
    <img src="https://cdn-icons-png.flaticon.com/512/32/32195.png" alt=""> English and language
  </button>
</div>

<div class="math">
  <div *ngFor="let item of taskquizEnglish" >
    <app-taskquiz [taskquiz]="item"></app-taskquiz>
  </div>
</div>


<div class="ren-act-3">
  <button id="down">
    <img src="https://cdn-icons-png.flaticon.com/512/32/32195.png" alt=""> Social science
  </button>
</div>

<div class="math">
  <div *ngFor="let item of taskquizScience" >
    <app-taskquiz [taskquiz]="item"></app-taskquiz>
  </div>
</div>


