
.ren-act {
    margin-top: 2%;
    font-size: 1.5rem;
    margin-left: 5%;

}

.ren-act-1 {
    font-size: 1.5rem;
    
}
.ren-act-2{
    font-size: 1.5rem;
}
.ren-act-2 #down {
    background-color: white;
    border: #ffffff;
    margin-top: 1%;
    margin-left: 2%;
    width: 20%;
    height: auto;
    font-size: 1.3rem;
}   
.ren-act-3 #down {
    background-color: white;
    border: #ffffff;
    margin-top: 1%;
    margin-left: 3%;
    width: 15%;
    height: auto;
    font-size: 1.3rem;
}   


img {
    width: 10%;
    height: 10%;
}

#down {
    background-color: white;
    border: #ffffff;
    margin-top: 1%;
    width: 15%;
    height: auto;
    font-size: 1.3rem;
}


#down:hover {
    background-color: whitesmoke;
    // border: #f33c3c;
    // color: white;
}

.math{
    display: flex;
    margin-left: 3%;
    gap: 3rem;



}


