<div class="container">
 
    <div class="center">
        <div class="background">
            <img src="https://i.imgur.com/DmVkmUE.jpg">
        </div>
        <div class="content">   
            <div class="code"><div class="join">
                <div>Join at: www.Qz.com</div>
            </div>
            <div class="pin">GAMEPIN:2665565</div>
        </div>
            
            <div class="loader"></div>
            <div class="wait">
                <p>Watiting for player</p>
            </div>
            <div class="start">
                <img src="https://cdn-icons-png.flaticon.com/512/552/552848.png" class="icon-chat">
                <button class="btn">Start</button>
            </div>
            
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/25/25695.png" class="icon-volume">
            <img src="https://cdn-icons-png.flaticon.com/128/2040/2040504.png" class="icon-setting">
            
        </div>
         
    </div>
 