<div id="navBar">
    <div class="navBar-left">
        <div>Qz</div>
        <a class="home" href="/home">Home</a>
        <a class="library" href="#">Library</a>
        <a class="market"href="/marketplace">Marketplace</a>
        
    </div>
    <div class="navBar-right">
        <button class="btn" id="theme">
            <img src="../../assets/6878705.png">
            <p>Play</p>
        </button>
        <div id="line"></div>


        <button class="btn" id="Login">Login
        </button>
        <button class="btn" id="help">Help
        </button>
    </div>
</div>